---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

 <!-- This area is for custom author signature
        You're welcome to copy the structure (there's already css on it) and just put in
        your own photo, description any contact info you'd like -->
{% if page.author == "Daniel Schofield" %}
<div class="signature-container">
  <h1 class="author-heading">Author</h1>

  <img src="{{ site.baseurl }}/images/{{ page.author }}.jpg" class="circular" alt="" />


    <div class="desc-container">
        <h1 class="author-name">Daniel Schofield</h1>
        <p class="author-description p-desc">Web Developer - Mobile Applications Developer - Project Manager</p>
        <br>
        <p class="email p-desc">E: daniel-schofield93@hotmail.com - FaceBook: </p> <a class="facebook-link p-desc" href="https://www.facebook.com/DanielSchofieldFreelance">fb/DanielSchofieldFreelance</a>

    </div>
</div>
  {% endif %}

  <!-- Make sure when you write your name on an article to spell it exactly the same as this variable -->
  <!-- Aman Section -->
  {% if page.author == "Aman Singh" %}


  {% endif %}

  <!-- Luiz Section -->
  {% if page.author == "Luiz Cavalieri" %}

  
  {% endif %}

<section class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'ibeacons';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
